/* Empty. Add your own CSS if you like */

.bar {
	background: #1BB1D0;
	color: whitesmoke;
}

.bar .header-item {
	color: whitesmoke;
}

.footer {
	background: #1BB1D0;
}

.footer .title{
	color: whitesmoke;
}
